@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', 'Optima', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
  color: #333333; 
  text-align: center;
  background-image: url('https://wallpapercave.com/wp/wp2981725.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background: #333333; 
  color: #ffffff; 
  padding: 1rem 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

header h1 {
  margin: 0 0 1rem 0;
}

nav {
  background-color: #ff6347; 
  padding: 10px 5px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: #ffffff; 
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  font-weight: bold;
  background-color: #333333; 
  border-radius: 5px;
  color: #ff6347; 
}

main {
  padding: 20px 20px 0 20px;
}

.card {
  background: #ffffff; 
  margin-bottom: 20px; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 1rem auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-icons a {
  color: #333333; 
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff6347; 
}

footer {
  background: #ff6347; 
  color: #ffffff; 
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-bottom: 10px;
    margin-right: 0;
  }

  main {
    padding: 10px;
  }

  .card {
    margin-bottom: 15px;
  }
}

#achievements, #quotes {
  text-align: left; 
}